/* Hind font */
.font-bangla {
  font-family: "Hind Siliguri", sans-serif;
}
.font-poppins{
  font-family: "Poppins", sans-serif;
}
.active{
  background-color: rgba(10, 10, 121, 0.848);
  color: white;
}